* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   

}
html, body {
    height: 100%;
}
body{
    background-color:rgba(248, 224, 172, 0.967);
}
.yellowbox{
    background-color: rgba(238, 179, 15, 0.942);
    width: 60%;
    height: 100%;
    padding : 20px 50px;

}
#logo
{
    height: 50px;
    
    position: absolute;
    transform: translate(-20%, -20%);

}
#menu
 {
    width: 50px;
    height: 37px;
    position: absolute;
    background-color: #fdc60a;
    position: absolute;
    right: 2%;
    transform: translate(30%,50%);
 }

 h1{
    position: absolute ;
    top: 33%;
    font-size: 100px;
font-family: Arial, Helvetica, sans-serif; }

 h4 {
    font-size: 20px;
    position:absolute;
    top: 30%;
    font-weight: 600;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 7.5px;


}




    #hyphen{
        width: 40px;
        height: 2px;
        background-color: black;
        position: absolute;
        top: 77%;

    }
    h5{
        font-family: arial, Helvetica, sans-serif;
        font-size: 25px;
        letter-spacing: 5px;
        font-weight: 8000px;
        position: absolute;
        top: 75%;
        left: 7%;
    }
    p{
        position: absolute;
        font-size: 25px;
        font-weight: 300;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        top: 50%;
    }
    #pikachu
{
    position: absolute;
    width: 530px;
    top: 7.5%;
    left: 47%;
}
    #pokeball
{
    height: 100px;
    position: absolute;
    bottom: -1%;

    
    }
    p{
        position: absolute;
        font: size 50px; ;
        height: 50;
    }
    nav {
        size: 30px;
        position: absolute;
        top: 50%;
        right: 2%;
    }
         #black{
            background-color: black;
         }    
         
         .section{ 
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: #fdc60a;
            margin: 5px;
         
        
        }


